
body {
    font-family: Verdana;
}*{
    margin: 0;
    padding: 0;
}
header,footer{
    position: absolute;
    background-color: rgb(10, 10, 10);
    width:100%;
    color: rgb(221, 198, 198);
}
header h1{
    position: absolute;
    margin-top: 10px;
    left:5%;
}
header {
    height: 10vh;
    background-color: rgb(10, 10, 10);
}
footer{
    height:10vh;
    bottom: 0;
    color: rgb(192, 156, 156);
}
footer h1{
    position: absolute;
    left: 35%;
}
#htxt {
    font-size: 60px
}
#btxt {
    font-size: 60px
}
